# create .gitignore file
# Ignore Mac system files
.DS_store
.history
yarn-error.log
yarn.lock
# Ignore node_modules folder
node_modules
.history

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache